In [1]:
import pandas as pd
import numpy as np
import unicodedata
import re

from bs4 import BeautifulSoup
import requests
import os
import json

import nltk
from nltk.corpus import stopwords

import prepare as prep

In [2]:
#df = pd.read_csv('almost_there.csv', index_col=0)

In [3]:
#df = df.reset_index()

In [14]:
#df.nunique()

In [15]:
#df['title'].value_counts()

In [16]:
#df = df.drop_duplicates(subset='title')

In [17]:
#df

In [8]:
#df = df.drop(columns='book_tag')

In [53]:
def get_data():
    '''
    Will pull the current data from the 'almost_there' csv file, and prep it for deeper cleaning.
    '''
    df = pd.read_csv('almost_there.csv', index_col=0)
    df = df.drop_duplicates(subset='title')
    
    save = ['Eleven on Top', 'Winter of the World', 'Nothing to Lose', 'Reflected in You']
    sub = df[df['length'].isna()]
    sub1 = sub[sub['title'].isin(save)]
    df = df.dropna(subset='length')
    df = pd.concat([df, sub1], axis=0)
    
    df = df.dropna(subset='summary')
    df = df.dropna(subset='year_published')
    
    df = df.reset_index()
    df = df.drop(columns=['index', 'book_tag'])
    
    df['summary'] = df['summary'].astype('string')
    df['title'] = df['title'].astype('string')
    df['author'] = df['author'].astype('string')
    df['genre'] = df['genre'].astype('string')
    df['length'] = df['length'].astype('float')

    return df

In [54]:
df = get_data()

In [55]:
df

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews
0,Harry Potter and the Deathly Hallows,"Harry has been burdened with a dark, dangerous...",2007,J.K. Rowling,78723,3439426,759.0,Fantasy,4.62,NaN
1,The Hunger Games,"Could you survive on your own in the wild, wit...",2008,Suzanne Collins,192533,7882293,374.0,Young Adult,4.33,NaN
2,The Kite Runner,1970s Afghanistan: Twelve-year-old Amir is des...,2003,Khaled Hosseini,90080,2931026,371.0,Fiction,4.33,NaN
3,The Book Thief,Librarian's note: An alternate cover edition c...,2006,Markus Zusak,134634,2341042,552.0,Historical Fiction,4.39,NaN
4,Harry Potter and the Half-Blood Prince,"It is the middle of the summer, but there is a...",2005,J.K. Rowling,51340,3021655,652.0,Fantasy,4.58,NaN
...,...,...,...,...,...,...,...,...,...,...
2987,Crystal Lake Memories,"For the past twenty-five years, cinematic icon...",2005,Peter M. Bracke,62,842,320.0,Horror,4.51,NaN
2988,Eleven on Top,Stephanie Plum is thinking her career as a fug...,back,Janet Evanovich,2245,106923,NaN,Mystery,4.16,NaN
2989,Winter of the World,Winter of the World picks up right where the f...,ity.,Ken Follett,8780,150655,NaN,Historical Fiction,4.36,NaN
2990,Nothing to Lose,Two lonely towns in Colorado: Hope and Despair...,and.,Lee Child,3012,63995,NaN,Thriller,3.93,NaN
2991,Reflected in You,Gideon Cross. As beautiful and flawless on the...,2012,Sylvia Day,11060,339738,NaN,Romance,4.31,[]

In [7]:
df.isna().sum()

title                   0
summary                 0
year_published          0
author                  0
review_count            0
number_of_ratings       0
length                110
genre                   0
rating                  0
reviews              2114
dtype: int64

In [8]:
df.dtypes

title                 object
summary               object
year_published        object
author                object
review_count           int64
number_of_ratings      int64
length                object
genre                 object
rating               float64
reviews               object
dtype: object

In [18]:
#df = df.dropna(subset='summary')

In [56]:
#df[df['year_published'].isna()]

In [ ]:
#df = df.dropna(subset='year_published')

In [58]:
prep.clean_article(df, 'title')

In [59]:
prep.clean_article(df, 'summary')

In [32]:
#df = df.drop(columns='clean_titles')

In [60]:
df1 = pd.read_csv('books_feat_on_NYBS', index_col=0)

In [61]:
prep.clean_article(df1, 'Book')

In [62]:
ser = df1['cleaned_Book']

In [63]:
prep.creat_tar(df, ser)

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,cleaned_title,cleaned_summary,target
0,Harry Potter and the Deathly Hallows,"Harry has been burdened with a dark, dangerous...",2007,J.K. Rowling,78723,3439426,759.0,Fantasy,4.62,NaN,harry potter and the deathly hallows,"harry has been burdened with a dark, dangerous...",unsuccessful
1,The Hunger Games,"Could you survive on your own in the wild, wit...",2008,Suzanne Collins,192533,7882293,374.0,Young Adult,4.33,NaN,the hunger games,"could you survive on your own in the wild, wit...",unsuccessful
2,The Kite Runner,1970s Afghanistan: Twelve-year-old Amir is des...,2003,Khaled Hosseini,90080,2931026,371.0,Fiction,4.33,NaN,the kite runner,1970s afghanistan twelveyearold amir is desper...,unsuccessful
3,The Book Thief,Librarian's note: An alternate cover edition c...,2006,Markus Zusak,134634,2341042,552.0,Historical Fiction,4.39,NaN,the book thief,librarian's note an alternate cover edition ca...,unsuccessful
4,Harry Potter and the Half-Blood Prince,"It is the middle of the summer, but there is a...",2005,J.K. Rowling,51340,3021655,652.0,Fantasy,4.58,NaN,harry potter and the halfblood prince,"it is the middle of the summer, but there is a...",unsuccessful
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,Crystal Lake Memories,"For the past twenty-five years, cinematic icon...",2005,Peter M. Bracke,62,842,320.0,Horror,4.51,NaN,crystal lake memories,"for the past twentyfive years, cinematic icon ...",unsuccessful
2988,Eleven on Top,Stephanie Plum is thinking her career as a fug...,back,Janet Evanovich,2245,106923,NaN,Mystery,4.16,NaN,eleven on top,stephanie plum is thinking her career as a fug...,best seller
2989,Winter of the World,Winter of the World picks up right where the f...,ity.,Ken Follett,8780,150655,NaN,Historical Fiction,4.36,NaN,winter of the world,winter of the world picks up right where the f...,best seller
2990,Nothing to Lose,Two lonely towns in Colorado: Hope and Despair...,and.,Lee Child,3012,63995,NaN,Thriller,3.93,NaN,nothing to lose,two lonely towns in colorado hope and despair....,best seller
2991,Reflected in You,Gideon Cross. As beautiful and flawless on the...,2012,Sylvia Day,11060,339738,NaN,Romance,4.31,[],reflected in you,gideon cross. as beautiful and flawless on the...,best seller

In [26]:
#save = ['Eleven on Top', 'Winter of the World', 'Nothing to Lose', 'Reflected in You']

In [34]:
#sub = df[df['length'].isna()]

In [41]:
#sub1 = sub[sub['title'].isin(save)]

In [43]:
#df = df.dropna(subset='length')

In [46]:
#df = pd.concat([df, sub1], axis=0)

In [64]:
df

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,cleaned_title,cleaned_summary,target
0,Harry Potter and the Deathly Hallows,"Harry has been burdened with a dark, dangerous...",2007,J.K. Rowling,78723,3439426,759.0,Fantasy,4.62,NaN,harry potter and the deathly hallows,"harry has been burdened with a dark, dangerous...",unsuccessful
1,The Hunger Games,"Could you survive on your own in the wild, wit...",2008,Suzanne Collins,192533,7882293,374.0,Young Adult,4.33,NaN,the hunger games,"could you survive on your own in the wild, wit...",unsuccessful
2,The Kite Runner,1970s Afghanistan: Twelve-year-old Amir is des...,2003,Khaled Hosseini,90080,2931026,371.0,Fiction,4.33,NaN,the kite runner,1970s afghanistan twelveyearold amir is desper...,unsuccessful
3,The Book Thief,Librarian's note: An alternate cover edition c...,2006,Markus Zusak,134634,2341042,552.0,Historical Fiction,4.39,NaN,the book thief,librarian's note an alternate cover edition ca...,unsuccessful
4,Harry Potter and the Half-Blood Prince,"It is the middle of the summer, but there is a...",2005,J.K. Rowling,51340,3021655,652.0,Fantasy,4.58,NaN,harry potter and the halfblood prince,"it is the middle of the summer, but there is a...",unsuccessful
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,Crystal Lake Memories,"For the past twenty-five years, cinematic icon...",2005,Peter M. Bracke,62,842,320.0,Horror,4.51,NaN,crystal lake memories,"for the past twentyfive years, cinematic icon ...",unsuccessful
2988,Eleven on Top,Stephanie Plum is thinking her career as a fug...,back,Janet Evanovich,2245,106923,NaN,Mystery,4.16,NaN,eleven on top,stephanie plum is thinking her career as a fug...,best seller
2989,Winter of the World,Winter of the World picks up right where the f...,ity.,Ken Follett,8780,150655,NaN,Historical Fiction,4.36,NaN,winter of the world,winter of the world picks up right where the f...,best seller
2990,Nothing to Lose,Two lonely towns in Colorado: Hope and Despair...,and.,Lee Child,3012,63995,NaN,Thriller,3.93,NaN,nothing to lose,two lonely towns in colorado hope and despair....,best seller
2991,Reflected in You,Gideon Cross. As beautiful and flawless on the...,2012,Sylvia Day,11060,339738,NaN,Romance,4.31,[],reflected in you,gideon cross. as beautiful and flawless on the...,best seller

In [ ]:
ham_counts = pd.Series(ham_words).value_counts()

In [ ]:
spam_counts.head()

In [ ]:
word_freq = pd.concat([ham_counts, spam_counts, all_counts], axis=1)

In [ ]:
word_freq.isna().sum()

In [ ]:
word_freq.columns = ['ham', 'spam', 'all']
word_freq.fillna(0, inplace=True)
word_freq.head()

In [ ]:
word_freq.sort_values('all', ascending=False).head(10).plot.bar(figsize=(16, 9))
plt.title('Most common words by category')
plt.ylabel('Count')
plt.xlabel('Most common words')
plt.xticks(rotation=45)
plt.show()

In [ ]:
word_freq['pct_spam'] = word_freq['spam'] / word_freq['all'] * 100
word_freq[word_freq['ham'] > 200].sort_values('pct_ham', ascending=False)

In [ ]:
ham_bigrams = pd.Series(nltk.ngrams(ham_words, 2))
top_ham_bigrams = ham_bigrams.value_counts().head(10)

In [ ]:
#Plot
top_ham_bigrams.plot.barh().invert_yaxis()
plt.xlabel('Count')
plt.ylabel('Bigram')
plt.title('Commonly occurring ham bigrams')
plt.show()