In [2]:
import pandas as pd 
import numpy as np 

import time
import math

In [3]:
root = "https://en.wikipedia.org/wiki/The_New_York_Times_Nonfiction_Best_Sellers_of_"

In [4]:
year_to_scrape = list(range(2000,2021))

In [6]:
year_to_scrape.append(1931)

In [7]:
year_to_scrape.sort()

In [10]:
year_to_scrape[:5]

[1931, 1932, 2000, 2001, 2002]

In [11]:
pd.read_html("https://en.wikipedia.org/wiki/The_New_York_Times_Nonfiction_Best_Sellers_of_1931")[0]

,Date,Book,Author
0,October 12,Ellen Terry and Bernard Shaw: A Correspondence,Ellen Terry and Bernard Shaw
1,October 19,No List Published,No List Published
2,October 26,No List Published,No List Published
3,November 2,No List Published,No List Published
4,November 9,No List Published,No List Published
5,November 16,Ellen Terry and Bernard Shaw: A Correspondence,Ellen Terry and Bernard Shaw
6,November 23,No List Published,No List Published
7,November 30,Washington Merry-Go-Round,Anonymous. (Drew Pearson and Robert S. Allen .)
8,December 7,Bernard Shaw,Frank Harris
9,December 14,The Epic of America,James Truslow Adams
10,December 21,Mourning Becomes Electra,Eugene O’Neill
11,December 28,The Epic of America,James Truslow Adams

In [12]:
all_books = pd.DataFrame()
for i in year_to_scrape:
    url = f'{root}{i}'
    tables = pd.read_html(url)
    if i == 1931 or i == 1932:
        df = tables[0]
    else:
        df = tables[1]
    
    df['Date'] = df['Date'].apply(lambda x: str(x) + f' {i}')
    all_books = pd.concat([all_books, df], ignore_index=True)
    time.sleep(1)
    print(i)
    print('\n')

1931


1932


2000


2001


2002


2003


2004


2005


2006


2007


2008


2009


2010


2011


2012


2013


2014


2015


2016


2017


2018


2019


2020

In [15]:
non_fict = all_books.copy()

In [89]:
#non_fict = all_books.copy().to_csv('all-non-fiction-top-best-sellers1931-2020')

In [142]:
#all_books = all_books.drop_duplicates(subset = ["Book", 'Author'], keep = "last")

In [137]:
#all_books.drop(columns= 'Date',inplace= True)

/var/folders/d0/5dr5q0n145vcn3_m9dxy1xq80000gn/T/ipykernel_53251/998546262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_books.drop(columns= 'Date',inplace= True)

In [143]:
#all_books.to_csv('unique-non-ficiton-best-sellers.csv')

In [147]:
#fict = pd.read_csv('books_feat_on_NYBS',index_col= 0)

In [150]:
#all_books.head()

,Date,Book,Author,Publisher
5,November 16 1931,Ellen Terry and Bernard Shaw: A Correspondence,Ellen Terry and Bernard Shaw,NaN
6,November 23 1931,No List Published,No List Published,NaN
7,November 30 1931,Washington Merry-Go-Round,Anonymous. (Drew Pearson and Robert S. Allen .),NaN
8,December 7 1931,Bernard Shaw,Frank Harris,NaN
10,December 21 1931,Mourning Becomes Electra,Eugene O’Neill,NaN

In [153]:
fict = fict.drop(columns= 'Month')

In [155]:
fict['Publisher'] = 'unknown'

In [159]:
fict_and_non_fict = pd.concat([fict,all_books])

In [174]:
check = fict_and_non_fict.Book.value_counts()[fict_and_non_fict.Book.value_counts() == 2].index.tolist()

In [183]:
fict_and_non_fict.to_csv('all-fiction-and-non-fiction-top-best-sellers.csv')

In [188]:
fict_and_non_fict = fict_and_non_fict.reset_index()

In [191]:
fict_and_non_fict= fict_and_non_fict.drop(columns= 'index')

In [194]:
fict_and_non_fict.to_csv('fiction-and-non-fiction-top-best-sellers.csv')

In [1]:
fict_and_non_fict

NameError: name 'fict_and_non_fict' is not defined