In [1]:
import pandas as pd
import os

In [27]:
def modify_link(link):
    '''
        Function to modify the link format
    '''
    # Split the link using '?' and take the first part (before the query parameters)
    base_url = link.split('?')[0]
    
    # Split the base_url using '/' and return the second last part
    return base_url.split('/')[-1]

In [28]:
def text_file_to_dataframe(filename):
    # Check if the text file exists
    if os.path.exists(filename):
        
        # Read the text file and create a list of lines
        with open(filename, "r") as file:
            lines = file.readlines()
            content = [line.strip() for line in lines]

        # Create a DataFrame from the list
        df = pd.DataFrame(content, columns=['links'])
        
        # Apply the modify_link function to the 'data' column
        df['links'] = df['links'].apply(modify_link)
        
        return df
    else:
        print(f"{filename} does not exist.")
        return None

In [33]:
def save_dataframe_to_text_file(df, filename):
    # Save the modified DataFrame to a text file with newline-separated values
    df.to_csv(filename, index=False, header=False, sep='\n')

In [29]:
# Main()
input_filename = "links.txt"
df = text_file_to_dataframe(input_filename)

In [36]:
# Save the modified DataFrame to a new text file
save_dataframe_to_text_file(df, "manny_random_books.txt")

In [35]:
df.head()

                                    links
0                  13771831-breaking-news
1     28111953-jokes-jokes-and-more-jokes
2        24612758-millie-s-tropical-world
3                 25946661-legally-stoned
4  57566.Secret_Lives_of_the_First_Ladies