In [1]:
# imports

import pandas as pd
import numpy as np
import unicodedata
import re

from bs4 import BeautifulSoup
import requests
import os
import json

import nltk
from nltk.corpus import stopwords

import prepare as prep

from sklearn.model_selection import train_test_split
import sklearn.model_selection

## import data

In [2]:
# original df

f = pd.read_csv('all_books.csv', index_col=0)

In [3]:
f.head()

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,book_tag
48,Missing in Death,"Aboard the Staten Island ferry, a tourist come...",2009,J.D. Robb,334,9875,77.0,Mystery,4.24,[],NaN
53,The Last Boyfriend,"Owen is the organizer of the Montgomery clan, ...",2012,Nora Roberts,2545,47392,436.0,Romance,4.09,[],NaN
205,Just Me in the Tub,Taking a bath is a big job. Mercer Mayer's fam...,1994,Gina Mayer,62,19212,24.0,Childrens,4.25,[],NaN
104,Lucy in the Sky,Settling down for a 24-hour flight to Australi...,2007,Paige Toon,628,9524,390.0,Chick Lit,3.95,[],NaN
334,The Rats in the Walls,"""The Rats in the Walls"" is a short story by H....",1924,H.P. Lovecraft,531,9155,25.0,Horror,4.01,[],NaN

In [4]:
# nytbs df

b = pd.read_csv('books_feat_on_NYBS').drop(columns = 'Unnamed: 0')

In [5]:
b.shape

(1045, 4)

In [6]:
# looking at best sellers

b.isna().sum()

Date        0
Book        0
Author      0
Month     968
dtype: int64

In [7]:
# read in the dataframe of the books

df = prep.prep_data('all_books.csv')

In [8]:
# books with neutral sentiment 

df[df['sentiment'] == 'neutral']

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,cleaned_title,cleaned_summary,successful,lemmatized_summary,neg,neutral,pos,compound,sentiment
64,Thing Explainer: Complicated Stuff in Simple W...,In Thing Explainer: Complicated Stuff in Simpl...,2015,Randall Munroe,939,10777,64.0,Science,4.14,[],thing explainer complicated stuff in simple words,in thing explainer complicated stuff in simple...,False,thing explainer complicate stuff simple word t...,0.000,1.000,0.000,0.0,neutral
96,First Impressions,The first biography of Monet written especiall...,1991,Ann Waldron,2,23,92.0,Nonfiction,3.57,NaN,first impressions,the first biography of monet written especiall...,False,first biography monet write especially young r...,0.000,1.000,0.000,0.0,neutral
284,Nejma,all of the unsleeping. gold sweeping. poems. i...,2014,Nayyirah Waheed,533,5881,172.0,Poetry,4.02,NaN,nejma,all of the unsleeping. gold sweeping. poems. i...,False,unsleeping gold sweeping poem hand,0.000,1.000,0.000,0.0,neutral
320,Redhead by the Side of the Road,Micah Mortimer is a creature of habit. A self-...,2020,Anne Tyler,5334,41838,178.0,Fiction,3.62,[],redhead by the side of the road,micah mortimer is a creature of habit. a selfe...,False,micah mortimer creature habit selfemployed tec...,0.088,0.823,0.088,0.0,neutral
374,King Arthur,A ruler said to be the model of goodness over ...,1918,Andrew Lang,62,598,192.0,Fantasy,3.50,NaN,king arthur,a ruler said to be the model of goodness over ...,False,ruler say model goodness evil formidable comra...,0.084,0.832,0.084,-0.0,neutral
420,The Present,Old Version,Inc.,Kenneth Thomas,79,2383,200.0,Science Fiction,3.59,NaN,the present,old version,False,old version,0.000,1.000,0.000,0.0,neutral
487,The Mermaid's Voice Returns in This One,Goodreads Choice Award-winning poet and USA TO...,2019,Amanda Lovelace,2185,16801,210.0,Poetry,3.68,[],the mermaid's voice returns in this one,goodreads choice awardwinning poet and usa tod...,False,goodreads choice awardwinning poet usa today b...,0.000,1.000,0.000,0.0,neutral
490,You Learn by Living: Eleven Keys for a More Fu...,Mrs. Roosevelt expresses her philosophy of lif...,1960,Eleanor Roosevelt,566,4084,211.0,Nonfiction,3.98,[],you learn by living eleven keys for a more ful...,mrs. roosevelt expresses her philosophy of lif...,False,roosevelt express philosophy life relate exper...,0.000,1.000,0.000,0.0,neutral
619,"Burning in Water, Drowning in Flame","Burning in Water, Drowning in Flame is poetry ...",1974,Charles Bukowski,482,8041,232.0,Poetry,4.08,[],"burning in water, drowning in flame","burning in water, drowning in flame is poetry ...",False,burn water drown flame poetry full gamble drin...,0.000,1.000,0.000,0.0,neutral
1318,H is for Hawk,"As a child, Helen Macdonald was determined to ...",2014,Helen Macdonald,9407,70020,300.0,Nonfiction,3.74,NaN,h is for hawk,"as a child, helen macdonald was determined to ...",False,child helen macdonald determine become falcone...,0.127,0.760,0.113,-0.0,neutral
1530,Kerri's War,Librarian Note: Alternate Cover Edition for AS...,2011,Stephen Douglass,16,1527,315.0,Thriller,3.83,NaN,kerri's war,librarian note alternate cover edition for asi...,False,librarian note alternate cover,0.000,1.000,0.000,0.0,neutral
1772,Seven Years in Tibet,"Recounts how the author, an Austrian, escaped ...",1953,Heinrich Harrer,1299,23045,330.0,Nonfiction,4.09,['”Now the Living Buddha was approaching. He p...,seven years in tibet,"recounts how the author, an austrian, escaped ...",False,recount author austrian escape english internm...,0.000,1.000,0.000,0.0,neutral
2075,Remarkable Creatures,"In 1810, a sister and brother uncover the foss...",2009,Tracy Chevalier,5220,48963,352.0,Historical Fiction,3.87,NaN,remarkable creatures,"in 1810, a sister and brother uncover the foss...",False,sister brother uncover fossilize skull unknown...,0.117,0.761,0.122,-0.0,neutral
2324,Winterhorn,"𝖂𝖊𝖑𝖈𝖔𝖒𝖊 𝖙𝖔 𝖆 𝖒𝖆𝖌𝖎𝖈𝖆𝖑 𝖜𝖔𝖗𝖑𝖉 𝖔𝖋 𝖉𝖗𝖆𝖌𝖔𝖓𝖘, 𝖔𝖗𝖈𝖘, 𝖎...",2020,Baiculescu Ovidiu Nicolae,12,36,371.0,Fantasy,4.44,NaN,winterhorn,"welcome to a magical world of dragons, orcs, i...",False,welcome magical world dragon orcs imp wizard w...,0.000,1.000,0.000,0.0,neutral
2679,Smarter Faster Better: The Secrets of Being Pr...,A new book that explores the science of produc...,2016,Charles Duhigg,2410,32071,400.0,Nonfiction,3.90,[],smarter faster better the secrets of being pro...,a new book that explores the science of produc...,False,new explores science productivity today world ...,0.000,1.000,0.000,0.0,neutral
2888,The Raw Shark Texts,Eric Sanderson wakes up in a house one day wit...,2007,Steven Hall,2014,19923,427.0,Fiction,3.82,NaN,the raw shark texts,eric sanderson wakes up in a house one day wit...,False,eric sanderson wake house one day idea note in...,0.141,0.727,0.132,0.0,neutral
2959,One Day,15th July 1988: Emma and Dexter meet for the f...,2009,David Nicholls,18888,313843,435.0,Fiction,3.81,NaN,one day,15th july 1988 emma and dexter meet for the fi...,False,july emma dexter meet first time night graduat...,0.000,1.000,0.000,0.0,neutral
3033,Fear: Trump in the White House,With authoritative reporting honed through eig...,2018,Bob Woodward,7075,61316,448.0,Nonfiction,3.87,[],fear trump in the white house,with authoritative reporting honed through eig...,False,authoritative reporting hone eight presidency ...,0.000,1.000,0.000,0.0,neutral
3479,Tolkien's World From A To Z,For the millions who have already ventured to ...,1974,Robert Foster,102,11527,569.0,Fantasy,4.18,NaN,tolkien's world from a to z,for the millions who have already ventured to ...,False,million already venture middleearth countless ...,0.000,1.000,0.000,0.0,neutral
3694,The Luminaries,"It is 1866, and young Walter Moody has come to...",2013,Eleanor Catton,8894,76365,848.0,Fiction,3.73,NaN,the luminaries,"it is 1866, and young walter moody has come to...",False,young walter moody come make fortune upon new ...,0.108,0.800,0.093,0.0,neutral
3741,The Dark Tower,The seventh and final installment of Stephen K...,2004,Stephen King,6943,163628,1050.0,Fantasy,4.27,NaN,the dark tower,the seventh and final installment of stephen k...,True,seventh final installment stephen king dark to...,0.000,1.000,0.000,0.0,neutral

## cleaning, exploring`

In [9]:
# how many nan

df.isna().sum()

title                    0
summary                  0
year_published           0
author                   0
review_count             0
number_of_ratings        0
length                   0
genre                    0
rating                   0
reviews               1976
cleaned_title            0
cleaned_summary          0
successful               0
lemmatized_summary       0
neg                      0
neutral                  0
pos                      0
compound                 0
sentiment                0
dtype: int64

**No NaNs appear in important columns.**

## train—test split

In [10]:
def split(df):
    train, test = train_test_split(df, test_size = .2, random_state = 42, stratify = df.target)
    return train, test

In [11]:
train, test = split(df)
train.shape, test.shape

AttributeError: 'DataFrame' object has no attribute 'target'

#### We'll be doing k-folds, so no need to have a validate portion here

### Does the length of a book have a relationship to its success ?

In [ ]:
train.sample()

In [ ]:
# successful books

besties = train[train['target'] == 'best seller']

**129 bestseller books in train. Assigning to a variable in order to explore page length.**

In [ ]:
# mean length of pages

besties['length'].mean()

In [ ]:
# median length of pages

besties['length'].median()

**The mean length of best sellers is 474 pages, the median is 400 pages.**

In [ ]:
# standard deviation

besties['length'].std()

**Standard deviation of about 208 pages. So, 68% of NYT best sellers have a length of 266 to 682 pages.**

In [ ]:
long_books = besties[besties['length'] > 682]
long_books.shape

**19 books have more than 682 pages.** Now to compare with generalised / random books list.

In [ ]:
# isolating unsuccessful books 

sadness = train[train['target'] == 'unsuccessful']

In [ ]:
sadness['length'].max()

In [ ]:
sadness[sadness['length'] > 3000]