In [ ]:
# Goal is to create a prepare.py that creates a dataframe which has valuable features, as well as, our target variable.

In [1]:
import os
import pandas as pd
import numpy as np

from fuzzywuzzy import fuzz, process
import re

import prepare as pr

In [2]:
# Importing my csv's, This is my referecne sheet
standard = pd.read_csv('books_feat_on_NYBS').drop(columns = ['Unnamed: 0'])

# This is the 'random' list of books from good reads
gdrd = pd.read_csv('good-reads-books').drop(columns = ['Unnamed: 0'])

# function

# Let's clean our titles

## standard data frame

In [3]:
standard = pr.create_clean_words(standard, standard.Book)
standard.head(1)

,Date,Book,Author,Month,clean_titles
0,October 12 1931,The Ten Commandments,Warwick Deeping,January,the ten commandments

In [4]:
gdrd = pr.create_clean_words(gdrd, gdrd.title)
gdrd.head(1)

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,clean_titles
0,Harry Potter and the Deathly Hallows,"Harry has been burdened with a dark, dangerous...",2007,J.K. Rowling,78687,3437863,759,NaN,4.62,"[""Ok, before I start a few warnings. This will...",harry potter and the deathly hallows

# feature engineering the target

In [5]:
# creating a reference series
match_series = standard.clean_titles

In [6]:
df = pr.creat_tar(gdrd, match_series)

In [11]:
df.Target.value_counts()

unsuccessful    726
best seller     158
Name: Target, dtype: int64

In [12]:
df.head(5)

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,clean_titles,Target
0,Harry Potter and the Deathly Hallows,"Harry has been burdened with a dark, dangerous...",2007,J.K. Rowling,78687,3437863,759,NaN,4.62,"[""Ok, before I start a few warnings. This will...",harry potter and the deathly hallows,unsuccessful
1,The Hunger Games,"Could you survive on your own in the wild, wit...",2008,Suzanne Collins,192376,7878189,374,NaN,4.33,"['LMAAAOOOO! Thats Peeta folks! xDHahahahaha, ...",the hunger games,unsuccessful
2,The Kite Runner,1970s Afghanistan: Twelve-year-old Amir is des...,2003,Khaled Hosseini,90024,2929707,371,NaN,4.33,['Finished this book about a month ago but it\...,the kite runner,unsuccessful
3,The Book Thief,Librarian's note: An alternate cover edition c...,2006,Markus Zusak,134538,2339721,552,NaN,4.39,"[""Just to clarify: Yes, I did cry.I've read a ...",the book thief,unsuccessful
4,Harry Potter and the Half-Blood Prince,"It is the middle of the summer, but there is a...",2005,J.K. Rowling,51302,3020180,652,NaN,4.58,['(A) 86% | ExtraordinaryNotes: It dwells on t...,harry potter and the halfblood prince,unsuccessful