# Goal is to create a prepare.py that creates a dataframe which has valuable features, as well as, our target variable.

In [2]:
import os
import pandas as pd
import numpy as np

import re
import prepare as pr

In [3]:
# Importing my csv's, This is my referecne sheet
standard = pd.read_csv('books_feat_on_NYBS').drop(columns = ['Unnamed: 0'])

# This is the 'random' list of books from good reads
gdrd = pd.read_csv('good-reads-books').drop(columns = ['Unnamed: 0'])

# function

# Let's clean our titles

## standard data frame

In [4]:
standard = pr.create_clean_words(standard, standard.Book)
standard.head(1)

,Date,Book,Author,Month,clean_titles
0,October 12 1931,The Ten Commandments,Warwick Deeping,January,the ten commandments

In [5]:
gdrd = pr.create_clean_words(gdrd, gdrd.title)
gdrd.head(1)

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,clean_titles
0,Harry Potter and the Deathly Hallows,"Harry has been burdened with a dark, dangerous...",2007,J.K. Rowling,78687,3437863,759,NaN,4.62,"[""Ok, before I start a few warnings. This will...",harry potter and the deathly hallows

# feature engineering the target

In [6]:
# creating a reference series
match_series = standard.clean_titles

In [7]:
df = pr.creat_tar(gdrd, match_series)

In [8]:
df.Target.value_counts()

unsuccessful    726
best seller     158
Name: Target, dtype: int64

In [12]:
df.to_csv('target.csv')