In [1]:
from pprint import pprint

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt


import prepare as pr

In [167]:
df = pr.prep_data('all_books.csv')

In [168]:
save = df.copy()

In [169]:
save.head(1)

,title,summary,year_published,author,review_count,number_of_ratings,length,genre,rating,reviews,cleaned_title,cleaned_summary,successful,lemmatized_summary,neg,neutral,pos,compound,sentiment
0,Alice's Adventures in Wonderland: A Pop-Up Ada...,Alice's Adventures in Wonderland is Robert Sa...,2003,Robert Sabuda,157,26214,12.0,Classics,4.34,[],alice's adventures in wonderland a popup adapt...,alice's adventures in wonderland is robert sa...,False,alice adventure wonderland robert sabuda amaze...,0.0,0.627,0.373,0.9718,very positive

In [170]:
# df = save

# Clean DataFrame for Modeling

In [173]:
df['genre'] = df.genre.astype('object')

In [174]:
df = df.drop(columns= ['title','summary','year_published','author','reviews','cleaned_title','cleaned_summary'])

In [176]:
dummy_df = pd.get_dummies(df[['genre','sentiment']], dummy_na=False, drop_first=[True, True])
col_list = dummy_df.columns.tolist()

In [93]:
df = pd.concat([df, dummy_df],axis= 1)

In [183]:
dummy_df

,genre_Business,genre_Chick Lit,genre_Childrens,genre_Christian,genre_Classics,genre_Comics,genre_Fantasy,genre_Fiction,genre_Film,genre_Graphic Novels,...,genre_Short Stories,genre_Thriller,genre_Travel,genre_Urban Fantasy,genre_Vampires,genre_Young Adult,sentiment_neutral,sentiment_positive,sentiment_very negative,sentiment_very positive
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3849,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3852,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3853,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3854,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [182]:
df

,review_count,number_of_ratings,length,genre,rating,successful,lemmatized_summary,neg,neutral,pos,compound,sentiment
0,157,26214,12.0,Classics,4.34,False,alice adventure wonderland robert sabuda amaze...,0.000,0.627,0.373,0.9718,very positive
1,62,19212,24.0,Childrens,4.25,False,take bath big job mercer mayer famous little c...,0.008,0.781,0.211,0.9811,very positive
2,531,9155,25.0,Horror,4.01,False,rat wall short lovecraft write augustseptember...,0.015,0.985,0.000,-0.1779,negative
3,701,17358,26.0,Picture Books,4.13,False,flock hapless sheep drive country rhyme picture,0.167,0.833,0.000,-0.3400,negative
4,50,15889,28.0,Childrens,4.00,False,note beverly cleary guide teacher accompany ti...,0.000,0.809,0.191,0.8570,very positive
...,...,...,...,...,...,...,...,...,...,...,...,...
3849,6016,54070,1408.0,Mystery,4.12,False,latest installment highly acclaim internationa...,0.143,0.806,0.051,-0.9437,very negative
3851,8425,199251,1443.0,Historical Fiction,4.25,False,year war come jamie frasers wife tell little w...,0.130,0.798,0.072,-0.7239,very negative
3852,15480,308202,1700.0,Classics,4.15,False,tolstoy epic masterpiece intertwine life priva...,0.087,0.781,0.132,0.7430,very positive
3853,179,9045,2904.0,Classics,4.22,False,firmly ground hallmark strength norton antholo...,0.000,0.874,0.126,0.8176,very positive
3854,767,11725,4211.0,Classics,4.35,False,surface traditional bildungsroman describe nar...,0.079,0.863,0.058,-0.8145,very negative

# split

In [95]:
from sklearn.model_selection import train_test_split
import sklearn.model_selection

In [96]:
def split(df, target):
    train, test = train_test_split(df, test_size=.2, random_state=42, stratify=df[target])
    return train, test

In [97]:
train, test = split(df,'successful')

In [98]:
x_train =  train.drop(columns= "successful")
y_train = train['successful']

In [99]:
x_test = test.drop(columns= "successful")
y_test = test['successful']

# creating a min max scaler

In [100]:
import sketch

In [101]:
xtrainnum = x_test.select_dtypes(exclude= ['string','object'])

In [102]:
xtrainnum = xtrainnum.drop(columns = ['neg','pos','neutral','compound'])

In [105]:
xtrainnum = xtrainnum[['review_count','number_of_ratings','length','rating']]

In [106]:
import sklearn.preprocessing

In [107]:
scaler = sklearn.preprocessing.StandardScaler()
# Note that we only call .fit with the training data,
# but we use .transform to apply the scaling to all the data splits.
scaler.fit(xtrainnum)

StandardScaler()

In [108]:
number_ls = xtrainnum.columns.tolist()

In [109]:
number_ls

['review_count', 'number_of_ratings', 'length', 'rating']

In [110]:
x_train_scaled = scaler.transform(x_train[number_ls])
x_test_scaled = scaler.transform(x_test[number_ls])

In [111]:
x_train_scaled = pd.DataFrame(x_train_scaled, columns= [number_ls])
x_test_scaled = pd.DataFrame(x_test_scaled, columns= [number_ls])

In [114]:
x_train[['neg','neutral','pos','compound']].reset_index(drop = True)

        neg  neutral    pos  compound
0     0.147    0.717  0.136   -0.0644
1     0.234    0.702  0.064   -0.9918
2     0.180    0.664  0.156   -0.9259
3     0.126    0.818  0.056   -0.8074
4     0.185    0.591  0.224    0.1531
...     ...      ...    ...       ...
2943  0.030    0.720  0.250    0.9849
2944  0.125    0.788  0.087   -0.7436
2945  0.105    0.796  0.099   -0.6124
2946  0.000    0.901  0.099    0.9153
2947  0.000    0.952  0.048    0.4559

[2948 rows x 4 columns]

In [115]:
x_train_scaled[['neg','neutral','pos','compound']] = x_train[['neg','neutral','pos','compound']].reset_index(drop = True)

In [116]:
x_train_scaled

,review_count,number_of_ratings,length,rating,neg,neutral,pos,compound
0,-0.472791,-0.322874,0.039140,-0.393078,0.147,0.717,0.136,-0.0644
1,-0.436369,-0.347805,0.352410,1.961993,0.234,0.702,0.064,-0.9918
2,-0.413854,-0.323556,0.813101,0.138712,0.180,0.664,0.156,-0.9259
3,-0.434524,-0.347706,0.002285,0.100727,0.126,0.818,0.056,-0.8074
4,-0.242344,-0.237197,-0.255702,-0.507033,0.185,0.591,0.224,0.1531
...,...,...,...,...,...,...,...,...
2943,-0.390341,-0.341579,-1.213940,-0.317108,0.030,0.720,0.250,0.9849
2944,6.235392,3.210703,0.297127,2.227888,0.125,0.788,0.087,-0.7436
2945,0.324439,-0.020416,0.006892,0.556547,0.105,0.796,0.099,-0.6124
2946,-0.423843,-0.307491,0.333982,-0.013228,0.000,0.901,0.099,0.9153
2947,-0.469103,-0.336210,-1.213940,-0.507033,0.000,0.952,0.048,0.4559

In [117]:
x_test_scaled[['neg','neutral','pos','compound']] = x_test[['neg','neutral','pos','compound']].reset_index(drop = True)

In [152]:
one = x_test_scaled.copy()

# create dummies

In [161]:
train[comb]

,genre_Business,genre_Chick Lit,genre_Childrens,genre_Christian,genre_Classics,genre_Comics,genre_Fantasy,genre_Fiction,genre_Film,genre_Graphic Novels,...,genre_Short Stories,genre_Thriller,genre_Travel,genre_Urban Fantasy,genre_Vampires,genre_Young Adult,sentiment_neutral,sentiment_positive,sentiment_very negative,sentiment_very positive
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2945,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2947,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

,review_count,number_of_ratings,length,rating,neg,neutral,pos,compound
0,0.456529,0.007394,-0.301771,-1.152778,0.031,0.797,0.172,0.9647
1,-0.507754,-0.377441,-1.582493,-0.734943,0.000,0.767,0.233,0.9821
2,-0.249413,0.131464,-0.241882,-0.203153,0.000,0.741,0.259,0.6808
3,-0.302511,-0.167604,-0.380089,-0.583003,0.127,0.811,0.062,-0.8126
4,-0.507601,-0.377305,-1.131016,1.734083,0.027,0.884,0.088,0.5994
...,...,...,...,...,...,...,...,...
733,-0.350767,-0.283043,-0.103674,0.556547,0.126,0.703,0.171,0.6662
734,1.544067,1.315117,-0.674931,-1.836509,0.107,0.762,0.132,0.6249
735,-0.431451,-0.316797,-0.439979,0.974383,0.061,0.707,0.232,0.9954
736,1.876867,2.675200,-0.255702,1.316248,0.156,0.697,0.148,-0.1531
737,-0.508215,-0.377497,-1.541031,-0.583003,0.099,0.817,0.084,-0.5441

In [164]:
train[comb]

,genre_Business,genre_Chick Lit,genre_Childrens,genre_Christian,genre_Classics,genre_Comics,genre_Fantasy,genre_Fiction,genre_Film,genre_Graphic Novels,...,genre_Short Stories,genre_Thriller,genre_Travel,genre_Urban Fantasy,genre_Vampires,genre_Young Adult,sentiment_neutral,sentiment_positive,sentiment_very negative,sentiment_very positive
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2945,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2947,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [165]:
train.head(1)

,review_count,number_of_ratings,length,genre,rating,successful,lemmatized_summary,neg,neutral,pos,...,genre_Short Stories,genre_Thriller,genre_Travel,genre_Urban Fantasy,genre_Vampires,genre_Young Adult,sentiment_neutral,sentiment_positive,sentiment_very negative,sentiment_very positive
0,464,16532,384.0,Classics,3.91,False,feature worldfamous masterpiece death venice n...,0.147,0.717,0.136,...,0,0,0,0,0,0,0,0,0,0

In [166]:
x_train_scaled

,review_count,number_of_ratings,length,rating,neg,neutral,pos,compound
0,0.456529,0.007394,-0.301771,-1.152778,0.031,0.797,0.172,0.9647
1,-0.507754,-0.377441,-1.582493,-0.734943,0.000,0.767,0.233,0.9821
2,-0.249413,0.131464,-0.241882,-0.203153,0.000,0.741,0.259,0.6808
3,-0.302511,-0.167604,-0.380089,-0.583003,0.127,0.811,0.062,-0.8126
4,-0.507601,-0.377305,-1.131016,1.734083,0.027,0.884,0.088,0.5994
...,...,...,...,...,...,...,...,...
733,-0.350767,-0.283043,-0.103674,0.556547,0.126,0.703,0.171,0.6662
734,1.544067,1.315117,-0.674931,-1.836509,0.107,0.762,0.132,0.6249
735,-0.431451,-0.316797,-0.439979,0.974383,0.061,0.707,0.232,0.9954
736,1.876867,2.675200,-0.255702,1.316248,0.156,0.697,0.148,-0.1531
737,-0.508215,-0.377497,-1.541031,-0.583003,0.099,0.817,0.084,-0.5441

In [124]:
train = train.reset_index(drop= True)

In [155]:
x_train_scaled[comb] = train[comb]

In [156]:
x_train_scaled[comb]

,genre_Business,genre_Chick Lit,genre_Childrens,genre_Christian,genre_Classics,genre_Comics,genre_Fantasy,genre_Fiction,genre_Film,genre_Graphic Novels,...,genre_Short Stories,genre_Thriller,genre_Travel,genre_Urban Fantasy,genre_Vampires,genre_Young Adult,sentiment_neutral,sentiment_positive,sentiment_very negative,sentiment_very positive
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2945,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2947,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [150]:
 one = z

,genre_Business,genre_Chick Lit,genre_Childrens,genre_Christian,genre_Classics,genre_Comics,genre_Fantasy,genre_Fiction,genre_Film,genre_Graphic Novels,...,genre_Short Stories,genre_Thriller,genre_Travel,genre_Urban Fantasy,genre_Vampires,genre_Young Adult,sentiment_neutral,sentiment_positive,sentiment_very negative,sentiment_very positive
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2945,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2946,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2947,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
train[comb]

In [ ]:
stop

In [ ]:
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
df = pr.prep_data('all_books.csv')

In [ ]:
data = df.copy()

# NLP

# Count Vector

In [ ]:
data.head(1)

In [ ]:
#  document= 'mary had a '

In [ ]:
document = data.lemmatized_summary.tolist()

In [ ]:
document = data.lemmatized_summary

In [ ]:
cv = CountVectorizer()
# use the thing
bag_of_words = cv.fit_transform(document)

In [ ]:
bag_of_words.todense()

In [ ]:
bow = pd.DataFrame(bag_of_words.todense())
bow.columns = cv.get_feature_names()

In [ ]:
bow

In [ ]:
bow.apply(lambda row: row / row.sum(), axis=1)

In [ ]:
# decision tree

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [ ]:
X = df.lemmatized_summary
y = df.target

In [ ]:
x_train, x_test, y_train, y_test = \
train_test_split(X, y, 
                 test_size=0.2, 
                 random_state=42)

# fit train

In [ ]:
# Whatever transformations we apply to X_train need to be applied to X_test
cv = CountVectorizer()
x_bow = cv.fit_transform(x_train)

In [ ]:

from sklearn.metrics import recall_score

In [ ]:
tree = DecisionTreeClassifier(max_depth=3)
tree.fit(x_bow, y_train)

In [ ]:
y_pred = tree.predict(x_bow)

In [ ]:
# Calculate the recall score
recall = recall_score(y_train, y_pred, pos_label='best seller')
print("Recall score for 'best seller' class:", recall)
# print("Recall score on training data:", recall)

In [ ]:
# import confusion matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import  ConfusionMatrixDisplay

In [ ]:
ConfusionMatrixDisplay(
confusion_matrix = confusion_matrix(y_train, y_pred), 
display_labels = ['unsuccessful', 'best seller'])

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt

# assume y_train and y_train_pred are your target variable and predicted labels, respectively
# and y_test and y_pred are your test set target variable and predicted labels, respectively
fig, ax = plt.subplots(1, 2)
ax[0].set_title("train")
ax[1].set_title("test")

# plot confusion matrix for training data
ConfusionMatrixDisplay(confusion_matrix=confusion_matrix(y_train, y_pred),
                       display_labels=['unsuccessful', 'best seller']).plot(ax=ax[0])

# plot confusion matrix for test data
ConfusionMatrixDisplay(confusion_matrix=confusion_matrix(y_train, y_pred),
                       display_labels=['unsuccessful', 'best seller']).plot(ax=ax[1])

plt.show()

In [ ]:
# assume y_test and y_pred are your test set target variable and predicted labels, respectively
cm = confusion_matrix(y_train, y_pred)

# plot confusion matrix
disp = ConfusionMatrixDisplay(confusion_matrix=cm,
                              display_labels=['best', 'unsuccessful'])
disp.plot()
disp.ax_.set_title("Confusion Matrix for Test Data")

plt.show()

In [ ]:
# create an instance with predetermined values 
clf_xgb = xgb.XGBClassifier(objective ='binary:logistic', 
                                        seed = 42,
                                        max_depth = 3,    
                                        scale_pos_weight= 5,
                                        learning_rate = .01,
                                        subsample = .9,
                                        colsample_bytree = .5,
                                        n_jobs = 10)

In [ ]:
label_encoder = LabelEncoder()

In [ ]:
label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train)
y_test = label_encoder.transform(y_test)

vectorizer = CountVectorizer()
x_bow_train = vectorizer.fit_transform(x_train)
x_bow_test = vectorizer.transform(x_test)

In [ ]:
# create an instance with predetermined values 
xgb = xgb.XGBClassifier(objective ='binary:logistic', 
                                        seed = 42,
                                        max_depth = 3,    
                                        scale_pos_weight= 5,
                                        learning_rate = .01,
                                        subsample = .9,
                                        colsample_bytree = .5,
                                        n_jobs = 10)

In [ ]:
xgb.fit(x_bow_train, y_train)

In [ ]:
# make predictions on test set
y_pred = xgb.predict(x_bow_train)

# evaluate classifier performance
accuracy = xgb.score(x_bow_train, y_train)
print("Accuracy:", accuracy)

In [ ]:
# assume y_test and y_pred are your test set target variable and predicted labels, respectively
cm = confusion_matrix(y_train, y_pred)

# plot confusion matrix
disp = ConfusionMatrixDisplay(confusion_matrix=cm,
                              display_labels=['best', 'unsuccessful'])
disp.plot()
disp.ax_.set_title("Confusion Matrix for Test Data")

plt.show()

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import f1_score

In [ ]:
def th_hyperparam_tuning(x_train, y_train, x_test, y_test, max_depths, scale_pos_weights, learning_rates, subsamples, colsample_bytrees):
    for max_depth in max_depths:
        for scale_pos_weight in scale_pos_weights:
            for learning_rate in learning_rates:
                for subsample in subsamples:
                    for colsample_bytree in colsample_bytrees:
                        # define the XGBClassifier with the current hyperparameters
                        xgb_model = XGBClassifier(objective ='binary:logistic', 
                                                  seed=42,
                                                  max_depth=max_depth,
                                                  scale_pos_weight=scale_pos_weight,
                                                  learning_rate=learning_rate,
                                                  subsample=subsample,
                                                  colsample_bytree=colsample_bytree,
                                                  n_jobs=10)
                        # fit the model on the training set
                        xgb_model.fit(x_train, y_train)
                        # predict on the test set
                        y_pred = xgb_model.predict(x_test)
                        # print the hyperparameters and the resulting f1-score
                        print(f"max_depth={max_depth}, scale_pos_weight={scale_pos_weight}, learning_rate={learning_rate}, subsample={subsample}, colsample_bytree={colsample_bytree}: f1-score={f1_score(y_test, y_pred)},: recall-score={recall_score(y_test, y_pred)}")
                        print('\n')
                        # print the confusion matrix
                        print(confusion_matrix(y_test, y_pred))
                        print('\n')

In [ ]:
max_depths = [3, 5, 7]
scale_pos_weights = [3, 5, 7]
learning_rates = [0.01, 0.1, 1]
subsamples = [0.7, 0.8, 0.9]
colsample_bytrees = [0.5, 0.6, 0.7]

th_hyperparam_tuning(x_bow_train, y_train, x_bow_test, y_test, max_depths, scale_pos_weights, learning_rates, subsamples, colsample_bytrees)