In [1]:
import pandas as pd 
import numpy as np 

import time
import math

In [2]:
root = "https://en.wikipedia.org/wiki/The_New_York_Times_Nonfiction_Best_Sellers_of_"

In [3]:
year_to_scrape = list(range(2000,2021))

In [5]:
year_to_scrape.append(1931)

In [6]:
year_to_scrape.sort()

In [7]:
year_to_scrape[:5]

[1931, 1932, 2000, 2001, 2002]

# non-fiction best seller

In [17]:
nfict = pd.DataFrame()
for i in year_to_scrape:
    url = f'{root}{i}'
    tables = pd.read_html(url)
    if i == 1931 or i == 1932:
        df = tables[0]
    else:
        df = tables[1]
    
    df['Date'] = df['Date'].apply(lambda x: str(x) + f' {i}')
    nfict = pd.concat([nfict, df], ignore_index=True)
    time.sleep(1)
    print(i) 
    print('\n')

1931


1932


2000


2001


2002


2003


2004


2005


2006


2007


2008


2009


2010


2011


2012


2013


2014


2015


2016


2017


2018


2019


2020

In [19]:
nfict['type'] = 'non-fiction'

# fiction best seller

In [18]:
base_url = 'https://en.wikipedia.org/wiki/The_New_York_Times_Fiction_Best_Sellers_of_'
fict = pd.DataFrame()
for i in range(1931, 2021):
    url = f'{base_url}{i}'
    tables = pd.read_html(url)
    if i == 1946:
        df = tables[1]
    else:
        df = tables[0]
   
    if i >= 2021:
        df.rename(columns={'Date': 'Issue Date'}, inplace=True)
    else:
        df.rename(columns={'Date': 'Date'}, inplace=True)
    df['Date'] = df['Date'].apply(lambda x: str(x) + f' {i}')
    fict = pd.concat([fict, df], ignore_index=True)
    time.sleep(1)
    print(i)
    print('\n')

1931


1932


1933


1934


1935


1936


1937


1938


1939


1940


1941


1942


1943


1944


1945


1946


1947


1948


1949


1950


1951


1952


1953


1954


1955


1956


1957


1958


1959


1960


1961


1962


1963


1964


1965


1966


1967


1968


1969


1970


1971


1972


1973


1974


1975


1976


1977


1978


1979


1980


1981


1982


1983


1984


1985


1986


1987


1988


1989


1990


1991


1992


1993


1994


1995


1996


1997


1998


1999


2000


2001


2002


2003


2004


2005


2006


2007


2008


2009


2010


2011


2012


2013


2014


2015


2016


2017


2018


2019


2020

In [21]:
fict["Publisher"] = 'unknown'

In [22]:
fict["type"] = 'fiction'

In [27]:
top_bestsellers_list = pd.concat([fict, nfict],axis = 0)

In [31]:
top_bestsellers_list.to_csv('standard_bestseller_wiki.csv')

In [142]:
#all_books = all_books.drop_duplicates(subset = ["Book", 'Author'], keep = "last")

In [137]:
#all_books.drop(columns= 'Date',inplace= True)

/var/folders/d0/5dr5q0n145vcn3_m9dxy1xq80000gn/T/ipykernel_53251/998546262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_books.drop(columns= 'Date',inplace= True)

In [143]:
all_books.to_csv('unique-non-ficiton-best-sellers.csv')

In [89]:
#all_books.to_csv('all-non-fiction-top-best-sellers1931-2020')

In [147]:
fict = pd.read_csv('books_feat_on_NYBS',index_col= 0)

In [150]:
all_books.head()

,Date,Book,Author,Publisher
5,November 16 1931,Ellen Terry and Bernard Shaw: A Correspondence,Ellen Terry and Bernard Shaw,NaN
6,November 23 1931,No List Published,No List Published,NaN
7,November 30 1931,Washington Merry-Go-Round,Anonymous. (Drew Pearson and Robert S. Allen .),NaN
8,December 7 1931,Bernard Shaw,Frank Harris,NaN
10,December 21 1931,Mourning Becomes Electra,Eugene O’Neill,NaN

In [153]:
fict = fict.drop(columns= 'Month')

In [155]:
fict['Publisher'] = 'unknown'

In [159]:
fict_and_non_fict = pd.concat([fict,all_books])

In [174]:
check = fict_and_non_fict.Book.value_counts()[fict_and_non_fict.Book.value_counts() == 2].index.tolist()

In [183]:
fict_and_non_fict.to_csv('all-fiction-and-non-fiction-top-best-sellers.csv')

In [188]:
fict_and_non_fict = fict_and_non_fict.reset_index()

In [191]:
fict_and_non_fict= fict_and_non_fict.drop(columns= 'index')

In [193]:
fict_and_non_fict.to_csv('fiction-and-non-fiction-top-best-sellers.csv')